.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloImagenes {
    display: flex;
    gap: 10vh;


}

.textosTarjetas h3{
  font-family: Arial, Helvetica, sans-serif;
}


.textosTarjetas p{
  font-family: Arial, Helvetica, sans-serif;
}
.tituloImagenes .tituloBorde {
    flex: 1;
    height: 30vh;

}


.tituloImagenes .tituloImg {
    height: 30vh;
}

html {
    background-color: #fff4ec;
}

body {

    padding-inline: 39vh;
}

.contenido {
    padding-top: 2vh;
}

.contenido button {

    border-radius: 15px;
    background-color: #044c94;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff4ec;
    border-color: #044c94;
    font-weight: bold;

}


.contenido button:hover {
    background-color:#fff4ec; 
    color: #044c94;
    transform: scale(1.05);    
}


/* Fondo del modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
}

/* Contenido del modal */
.modal-content {
    background-color: #fff;
    margin: 10% auto; 
    
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    position: relative;
}

/* Botón de cerrar */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}



.productGrid {
    padding-top: 2vh;
    width: 100%;              
    margin: 0 auto;           
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; 

    box-sizing: border-box;   
}
.tarjetas {
  flex: 0 0 250px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative; }

.tarjetas:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Contenedor de imagen para overlay */
.img-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 4px;
}

/* Imagen */
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s;
}

/* Overlay de botones */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Botones */
.overlay button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #044c94;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.overlay button:hover {
  background-color: #fff4ec;
  color: #044c94;
}

/* Efecto hover */
.tarjetas:hover .img-container img {
  filter: blur(3px); 
}

.tarjetas:hover .overlay {
  opacity: 1; 
}


.producto img {
  width: 20vh;              
  height: 20vh;             
  object-fit: cover;        
  border-radius: 4px;
}
